asgiref==3.7.2
crispy-bootstrap4==2023.1
Django==4.2.7
django-crispy-forms==2.1
django-leaflet==0.29.0
GDAL==3.4.1
numpy==1.26.2
psycopg2==2.9.9
shapely==2.0.2
sqlparse==0.4.4
typing_extensions==4.8.0


key github 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
