<!DOCTYPE html>
<html>
<head>
    {% load crispy_forms_tags %}
    {% load static %}
    <title>Login</title>
    <!-- Agregar Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Enlazar el archivo CSS personalizado -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="login-container">
        <h2 class="text-center">Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </div>
            <div class="form-group text-center">
                <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'register' %}'">Registrarse</button>
            </div>
        </form>
    </div>

    <!-- Agregar Bootstrap JS y dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
